// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&subset=cyrillic');
$font = 'Open Sans', sans-serif


// vendors
$vendors = webkit moz o ms


// placeholder prefixes
$placeholder = '&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder'



// colors
$bg = #1a1b1f
$main = #0044ff
$cntrst = #fff



// sizes
$step-000 = 1170px
$step-100 = 740px
$step-200 = 480px